//import
@import "../utilidades/mixin";
@import "../utilidades/variables";

/* estilos de tablet */

@media screen and (min-width:600px) {

    .mainIndex{
        .imagenIndexPrincipal{
            height: 500px;
            margin-bottom: 1rem;
            
        }

        .imagenIndexDos{
            display: block;
            height: 700px;
            border: $colorSecundario solid 3px;
            img{
                @include height-width;
            }

        }
    }

    .mainBiografia{
        .direccion{
            .imagenesBiografia{
                width: 80%;
                height: 500px;
                margin: 0 auto;
                img{
                    @include height-width;
                }
            }

            .tituloParrafo{
                width: 80%;
                margin: 0 auto;
            }
        }
    }

    .mainUbicacion{
        .mapaUbicacion{
            height: 500px;
            width: 80%;
            margin: 0 auto;
            iframe{
                @include height-width;
            }
        }
    }
}
